<h3>Thank You For Contacting us. We will get back to you soon.s</h3>
<p class="emailstyle">Here is a copy of your email:</p>
<table class="emailTable">
  <tr>
    <td>Name:</td><td><%=params[:name]%></td>
  </tr>
  <tr>
    <td>Email:</td><td><%=params[:email]%></td>
  </tr>
  <tr>
    <td>Phone:</td><td><%=params[:phone]%></td>
  </tr>
  <tr>
    <td>Subject:</td><td><%=params[:subject]%></td>
  </tr>
  <tr>
    <td>Comments:</td><td><%=params[:message]%></td>
  </tr>
</table>